html,
body {
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-family: "Times New Roman";
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
div {
    border: 1px solid transparent;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dodgerblue;
}
.container {
    min-height: 80px;
    width: 1000px;
    margin: 0 auto;
}
.footer__up {
    position: relative;
    margin: 30px 0 120px 0;
}
.columns__footerUp {
    position: absolute;
    width: 25%;
    display: inline-block;
}
.column2 {
    left: 25%;
}
.column3 {
    left: 50%;
}
.column4 {
    left: 75%;
    font-size: 12px;
    text-transform: none;
}
hr {
    border: transparent;
    border-top: 1px solid white;
}
.footer__down {
    margin: 30px 0 50px 0;
    position: relative;
}
.down__links {
    position: relative;
}
.link1 {
    position: absolute;
}
.link2 {
    position: absolute;
    left: 70px;
}
.link3 {
    position: absolute;
    left: 180px;
}
.link4 {
    position: absolute;
    left: 330px;
}
.store {
    position: absolute;
    left: 400px;
}
.down__icons {
    position: absolute;
    left: 50%;
    width: 50%;
}
.img1 {
    position: absolute;
    right: 27%
}
.img2 {
    position: absolute;
    right: 18%
}
.img3 {
    position: absolute;
    right: 12%
}
.img4 {
    position: absolute;
    right: 5%
}
.copyright {
    position: absolute;
    bottom: -40px;
    font-size: 10px;
    text-transform: none;
}