td:first-child {
    text-align: right;
}
input[type=text],
input[type=email] {
    background-color: rgba(255, 255, 0, 0.6);
    border: 3px solid rgb(161, 161, 0)
}
input[type=password],
input[type=reset] {
    background-color: rgba(255, 0, 102, 0.6);
    border: 3px solid rgb(150, 0, 60)
}
select {
    background-color: rgba(0, 34, 255, 0.6);
    border: 3px solid rgba(0, 18, 136, 0.5);
}
textarea,
input[type=submit] {
    background-color: rgba(14, 171, 0, 0.6);
    border: 3px solid rgba(7, 84, 0, 0.6);
}
table {
    background-color: rgb(202, 202, 202);
    border: 3px solid rgba(56, 56, 56, 0.6);
}