* {
    margin: 0;
}
html,
body {
    height: 100%;
}
.background {
    background: url('images/0.png')0 0/ cover no-repeat;
    height: 73vw;
    width: 100%;
}
.dale_1 {
    height: 100%;
    width: 100%;
    background: url('images/6.png')20% 25% no-repeat;
}
.gadget {
    height: 100%;
    width: 100%;
    background: url('images/5.png')30% 55% no-repeat;
}
.chip {
    height: 100%;
    width: 100%;
    background: url('images/2.png')100% 60% no-repeat;
}
.dale_2 {
    height: 100%;
    width: 100%;
    background: url('images/3.png')70% 60% no-repeat;
}
.zipper {
    height: 100%;
    width: 100%;
    background: url('images/4.png')83% 80% no-repeat;
}
.monterey {
    height: 100%;
    width: 100%;
    background: url('images/1.png') 0 100% no-repeat;
}