.menu {
    display: flex;
}
.menu li {
    width: 150px;
    list-style: none;
    background: #4a4a4a;
    position: relative;
    border-bottom: 3px solid #5fc4ff;
    text-transform: uppercase;
    font-family: "Times New Roman";
}
.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
}
.menu a:hover {
    background: #5fc4ff;
}
.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.menu li:hover>ul {
    display: block;
    width: 300px;
}
.menu ul ul {
    display: none;
    top: 0;
    left: 100%;
}