li {
    overflow: hidden;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    border: 2px solid #B0C7D8;
    border-radius: 3px;
}
a {
    padding: 10px;
    color: #877160;
    text-decoration: none;
}
a:hover {
    background-color: #607788;
    color: white;
}